services:
    # event store
    infrastructure.event_store.doctrine:
        autowired: no
        factory: SixtyEightPublishers\ArchitectureBundle\Infrastructure\Doctrine\EventStore\DoctrineEventStore

    # doctrine event subscriber
    infrastructure.event_store.event_subscriber.create_event_stream:
        type: SixtyEightPublishers\ArchitectureBundle\Infrastructure\Doctrine\EventSubscriber\CreateEventStreamSubscriber
