services:
    infrastructure.persistence_adapter.doctrine:
        autowired: no
        factory: SixtyEightPublishers\ArchitectureBundle\Infrastructure\Doctrine\PersistenceAdapter\DoctrinePersistenceAdapter
