services:
    infrastructure.repository:
        autowired: SixtyEightPublishers\ArchitectureBundle\Infrastructure\Doctrine\Repository\DoctrineAggregateRootRepositoryInterface
        type: SixtyEightPublishers\ArchitectureBundle\Infrastructure\Doctrine\Repository\DoctrineAggregateRootRepositoryInterface
        factory: @extension.infrastructure.repository.doctrine

    infrastructure.repository.doctrine:
        autowired: no
        factory: SixtyEightPublishers\ArchitectureBundle\Infrastructure\Doctrine\Repository\DoctrineAggregateRootRepository
