services:
    domain.password_request_expiration_provider:
        autowired: SixtyEightPublishers\ForgotPasswordBundle\Domain\PasswordRequestExpirationProviderInterface
        type: SixtyEightPublishers\ForgotPasswordBundle\Domain\PasswordRequestExpirationProviderInterface
        factory: @extension.domain.password_request_expiration_provider.default

    domain.password_request_expiration_provider.default:
        autowired: no
        factory: SixtyEightPublishers\ForgotPasswordBundle\Domain\PasswordRequestExpirationProvider
