services:
    domain.password_hash_algorithm:
        autowired: SixtyEightPublishers\UserBundle\Domain\PasswordHashAlgorithmInterface
        type: SixtyEightPublishers\UserBundle\Domain\PasswordHashAlgorithmInterface
        factory: @extension.domain.password_hash_algorithm.default

    domain.password_hash_algorithm.default:
        autowired: no
        factory: SixtyEightPublishers\UserBundle\Domain\PasswordHashAlgorithm
