services:
	infrastructure.read_model.view.data_transformer.password_request:
		autowired: self
		type: SixtyEightPublishers\ArchitectureBundle\ReadModel\View\ViewDataTransformerInterface
		factory: SixtyEightPublishers\ForgotPasswordBundle\Infrastructure\Doctrine\ReadModel\PasswordRequestViewDataTransformer

	infrastructure.read_model.query_handler.find_requested_password_changes:
		autowired: no
		factory: SixtyEightPublishers\ForgotPasswordBundle\Infrastructure\Doctrine\ReadModel\FindRequestedPasswordChangesQueryHandler

	infrastructure.read_model.query_handler.get_password_request_by_id:
		autowired: no
		factory: SixtyEightPublishers\ForgotPasswordBundle\Infrastructure\Doctrine\ReadModel\GetPasswordRequestByIdQueryHandler
