services:
	infrastructure.store_adapter:
		autowired: SixtyEightPublishers\ArchitectureBundle\Infrastructure\Common\StoreAdapter\StoreAdapterInterface
		type: SixtyEightPublishers\ArchitectureBundle\Infrastructure\Common\StoreAdapter\StoreAdapterInterface
		factory: @extension.infrastructure.store_adapter.in_memory

	infrastructure.store_adapter.in_memory:
		autowired: no
		factory: SixtyEightPublishers\ArchitectureBundle\Infrastructure\InMemory\StoreAdapter\InMemoryStoreAdapter
