allowNoHandlers: no
singleHandlerPerMessage: yes
middleware:
    - Symfony\Component\Messenger\Middleware\AddBusNameStampMiddleware(query_bus)
    - Symfony\Component\Messenger\Middleware\FailedMessageProcessingMiddleware
    - SixtyEightPublishers\ArchitectureBundle\Bridge\Symfony\Messenger\Middleware\OriginalExceptionMiddleware
panel: %debugMode%
