services:
	infrastructure.read_model.view.data_transformer.user:
		autowired: self
		type: SixtyEightPublishers\ArchitectureBundle\ReadModel\View\ViewDataTransformerInterface
		factory: SixtyEightPublishers\UserBundle\Infrastructure\Doctrine\ReadModel\UserViewDataTransformer

	infrastructure.read_model.query_handler.get_credentials:
		autowired: no
		factory: SixtyEightPublishers\UserBundle\Infrastructure\Doctrine\ReadModel\GetCredentialsQueryHandler

	infrastructure.read_model.query_handler.get_identity:
		autowired: no
		factory: SixtyEightPublishers\UserBundle\Infrastructure\Doctrine\ReadModel\GetIdentityQueryHandler

	infrastructure.read_model.query_handler.get_user_by_email_address:
		autowired: no
		factory: SixtyEightPublishers\UserBundle\Infrastructure\Doctrine\ReadModel\GetUserByEmailAddressQueryHandler

	infrastructure.read_model.query_handler.get_user_by_id:
		autowired: no
		factory: SixtyEightPublishers\UserBundle\Infrastructure\Doctrine\ReadModel\GetUserByIdQueryHandler

	infrastructure.read_model.query_handler.get_user_by_username:
		autowired: no
		factory: SixtyEightPublishers\UserBundle\Infrastructure\Doctrine\ReadModel\GetUserByUsernameQueryHandler
