services:
	infrastructure.command_consistency_guard.password_request:
		autowired: no
		factory: SixtyEightPublishers\ArchitectureBundle\Domain\Guard\CommandConsistencyGuardRegistry(
			typed(SixtyEightPublishers\ForgotPasswordBundle\Infrastructure\PasswordRequestCommandConsistencyGuardInterface)
		)

	infrastructure.command_consistency_guard.user_exists:
		autowired: self
		type: SixtyEightPublishers\ForgotPasswordBundle\Infrastructure\PasswordRequestCommandConsistencyGuardInterface
		factory: SixtyEightPublishers\ForgotPasswordBundle\Infrastructure\UserExistsGuard
