services:
	application.command_handler.create_user:
		autowired: no
		factory: SixtyEightPublishers\UserBundle\Application\CommandHandler\CreateUserCommandHandler
		arguments:
			commandConsistencyGuard: @extension.infrastructure.command_consistency_guard.user

	application.command_handler.updated_user:
		autowired: no
		factory: SixtyEightPublishers\UserBundle\Application\CommandHandler\UpdateUserCommandHandler
		arguments:
			commandConsistencyGuard: @extension.infrastructure.command_consistency_guard.user

	application.command_handler.delete_user:
		autowired: no
		factory: SixtyEightPublishers\UserBundle\Application\CommandHandler\DeleteUserCommandHandler
		arguments:
			commandConsistencyGuard: @extension.infrastructure.command_consistency_guard.user
