services:
	infrastructure.command_consistency_guard.user:
		autowired: no
		factory: SixtyEightPublishers\ArchitectureBundle\Domain\Guard\CommandConsistencyGuardRegistry(
			typed(SixtyEightPublishers\UserBundle\Infrastructure\UserCommandConsistencyGuardInterface)
		)

	infrastructure.command_consistency_guard.unique_user_email_address:
		autowired: self
		type: SixtyEightPublishers\UserBundle\Infrastructure\UserCommandConsistencyGuardInterface
		factory: SixtyEightPublishers\UserBundle\Infrastructure\UniqueUserEmailAddressGuard

	infrastructure.command_consistency_guard.unique_user_username:
		autowired: self
		type: SixtyEightPublishers\UserBundle\Infrastructure\UserCommandConsistencyGuardInterface
		factory: SixtyEightPublishers\UserBundle\Infrastructure\UniqueUserUsernameGuard
