services:
	read_model.view.factory:
		autowired: SixtyEightPublishers\ArchitectureBundle\ReadModel\View\ViewFactoryInterface
		type: SixtyEightPublishers\ArchitectureBundle\ReadModel\View\ViewFactoryInterface
		factory: @extension.read_model.view.factory.default

	read_model.view.factory.default:
		autowired: no
		factory: SixtyEightPublishers\ArchitectureBundle\ReadModel\View\ViewFactory
		arguments:
			viewClassnameTransformers: typed(SixtyEightPublishers\ArchitectureBundle\ReadModel\View\ViewDataTransformerInterface)

	read_model.view.classname_translator:
		autowired: SixtyEightPublishers\ArchitectureBundle\ReadModel\View\ViewClassnameTranslatorInterface
		type: SixtyEightPublishers\ArchitectureBundle\ReadModel\View\ViewClassnameTranslatorInterface
		factory: @extension.read_model.view.classname_translator.default

	read_model.view.classname_translator.default:
		autowired: no
		factory: SixtyEightPublishers\ArchitectureBundle\ReadModel\View\ViewClassnameTranslator
